# directory with VC redistributable DLLs
/vc_redist/*
!/vc_redist/README.txt

/.idea/
/lib_compiled.sln.DotSettings.user

# private project for testing PowerShell behavior during development
/RandomTests/*
!/RandomTests/RandomTests.csproj
# private project for quickly benchmarking stuff and keeping useful benchmarks for later reference
/RandomBenchmarks/*
!/RandomBenchmarks/RandomBenchmarks.csproj

/Pog/bin/
/Pog/obj/
/Pog.Tests/bin/
/Pog.Tests/obj/
/Polyfills/bin/
/Polyfills/obj/


/Pog.dll
/Pog.dll-Help.xml
/PogExecutableStubTemplate.exe