/.idea/
/lib_compiled.sln.DotSettings.user

/RandomTests/*
!/RandomTests/RandomTests.csproj

/Pog/bin/
/Pog/obj/
/Pog.Tests/bin/
/Pog.Tests/obj/
/Polyfills/bin/
/Polyfills/obj/


/Pog.dll
/Pog.dll-Help.xml
/PogExecutableStubTemplate.exe